.search-bar {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px;
    margin-inline: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo p {
    padding: 0;
    margin: 0;
    font-size: 25px;
    font-weight: 500;
    color: #575757;
}

.logo p span {
    font-size: 28px;
    color: #575757;
}

.search-bar img {
    width: 32px;
}

.search-bar input {
    width: calc(70% - 60px);
    border: none;
    outline: none;
    background-color: #e6e6e6;
    padding: 11px;
    border-radius: 7px;
    font-size: 16px;
}

.list-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
}